.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-150px {
  width: 150px;
}

.main-color {
  color: #12486b;
}

.color-777 {
  color: #777;
}

.btn-join {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #12486b;
  color: #fff;
  border-radius: 2px;
  padding: 8px 25px;
  transition: 0.4s;
}
.btn-join:hover {
  transform: scale(1.02);
}

.btn-sub {
  background-color: #12486b;
  color: #fff;
  border-radius: 40px;
  padding: 6px 35px;
  transition: 0.4s;
}
.btn-sub:hover {
  transform: scale(1.02);
}

.main-heading {
  margin-bottom: 35px;
  font-size: 40px;
  font-weight: 700;
  color: #12486b;
  text-align: center;
}
.main-heading.sm-b {
  margin-bottom: 15px;
}

.main-des {
  margin-bottom: 30px;
  font-size: 17px;
  color: #74818a;
  font-weight: 400;
  text-align: center;
}

.shape-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  color: #12486b;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.shape-title .img {
  display: block;
  margin: 6px auto 0;
  width: 80%;
  max-width: 139px;
  height: auto;
  filter: brightness(0) saturate(100%) invert(14%) sepia(40%) saturate(5137%) hue-rotate(188deg) brightness(93%) contrast(87%);
}

.small-heading {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.bg-title {
  background-color: #12486b;
  border-right: 4px solid #0d344f;
  color: #fff;
  font-size: 17px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 10px;
  padding: 0 15px;
}

.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  padding: 10px;
  border-radius: 23px;
  text-align: center;
  transition: 0.3s;
  background-color: #fff;
}
.service-box .img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
}
.service-box .img-holder img {
  width: 92px;
  height: 95px;
}
.service-box .title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 22px;
  text-align: center;
  color: #202124;
}
.service-box .des {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #74818a;
}
.service-box.active, .service-box:hover {
  box-shadow: 0 0 10px 0 rgba(17, 71, 107, 0.2);
}
.service-box.active .title, .service-box:hover .title {
  color: #12486b;
}

.job-box {
  position: relative;
  width: 100%;
  height: 357px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.job-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s;
}
.job-box .title {
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 12;
}
.job-box::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.72), transparent);
  z-index: 11;
}
.job-box:hover img {
  transform: scale(1.02);
}

.box-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.box-info .content-text .title {
  color: #12486b;
  font-weight: 600;
  font-size: 23px;
  font-weight: 400;
}
.box-info .content-text .des {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  color: #74818a;
}
@media (max-width: 767.98px) {
  .box-info .content-text {
    font-size: 15px;
  }
}

.country-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  transition: 0.3s;
  background-color: #fff;
}
.country-box .img-holder img {
  width: 45px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.country-box .content .title {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
  text-align: start;
  color: #12486b;
}
.country-box .content .order-now {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #888;
  transition: transform ease-out 0.3s;
}
.country-box .content .order-now:hover {
  transform: scale(1.04);
}
.country-box:hover {
  box-shadow: 0 0 10px 0 rgba(17, 71, 107, 0.1);
}

.partner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
}
.partner-box img {
  width: 100px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.partner-box img.won-custom {
  width: 200px;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}
.card:hover .card-front {
  transform: rotateX(-180deg);
}
.card:hover .card-back {
  transform: rotateX(0deg);
}

.card-front {
  height: 100%;
  width: 100%;
  background-image: url(https://99px.ru/sstorage/56/2013/12/image_563012130153328414049.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
}
.card-back h2 {
  margin: 60% auto 35% auto;
  font-size: 26px;
}
.card-back h2 span {
  font-size: 20px;
}
.card-back a {
  height: 20px;
  width: 20px;
  padding: 5px 5px;
  border-radius: 4px;
  line-height: 20px;
}
.card-back a:hover {
  color: #000000;
  background-color: #fff;
}

.box-more-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 280px;
  padding: 15px;
  background-image: linear-gradient(104deg, #337ccf 0%, #191d88 100%);
  text-align: center;
  color: #fff;
}
.box-more-about .icon-holder {
  margin-bottom: 10px;
}
.box-more-about .icon-holder i, .box-more-about .icon-holder svg {
  font-size: 60px;
}
.box-more-about .title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.box-more-about .des {
  margin-bottom: 0px;
}

.card-coast {
  border-radius: 22px;
  border: 1px solid #419197;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
  transition: 0.3s;
}
.card-coast .img-card img {
  height: auto;
  max-width: 100%;
}
.card-coast .card-title {
  font-family: "Tajawal", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.card-coast .card-sub {
  color: #86909c;
  font-family: "Tajawal", Sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.card-coast .amount {
  color: #06967d;
  font-family: "Lato", Sans-serif;
  font-size: 58px;
  font-weight: 600;
}
.card-coast .amount-info {
  color: #59697e;
  font-family: "Tajawal", Sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.card-coast:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  scale: 0.98;
}

.card-join {
  border: 1px solid #419197;
  padding: 10px 20px;
  transition: 0.3s;
}
.card-join .header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-join .title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #12486b;
}
.card-join .info-holder .title-info {
  font-size: 24px;
  font-weight: 700;
  color: #12486b;
}
.card-join ol {
  margin: 20px 0;
}
.card-join ol li {
  font-size: 16px;
  font-weight: 600;
  color: #12486b;
}
.card-join:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  scale: 0.98;
}
.card-join .form {
  padding: 20px;
  margin: 0 auto;
}
.card-join .form .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: 15px;
}
.card-join .form .boxes .box .inp-holder {
  width: 100%;
}
.card-join .form .boxes .box .inp-holder label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: #0f001a;
}
.card-join .form .boxes .box .inp-holder label .sm {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  color: rgba(15, 0, 26, 0.7);
}
.card-join .form .boxes .box .inp-holder .inp {
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #b4bec8;
  font-size: 14px;
  font-weight: 400;
}
.card-join .form .boxes .box .inp-holder .inp::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.card-join .form .boxes .box .inp-holder .inp::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.card-join .form .boxes .box .btn-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #12486b;
}
.card-join .form .boxes .box .btn-sub:hover {
  background-color: #06967d;
  scale: 1 !important;
}

.box-how-work {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 225px;
  padding: 15px;
  border: 1px dotted rgba(65, 145, 151, 0.6784313725);
  box-shadow: 0px 0px 4px 0px rgba(17, 19, 61, 0.12);
}
.box-how-work .icon-holder {
  transform: translateY(-30px);
}
.box-how-work .icon-holder i, .box-how-work .icon-holder svg {
  font-size: 36px;
  color: #0c8dd3;
}
.box-how-work .content .name {
  color: #0c8dd3;
  font-size: 20px;
  font-weight: 700;
}
.box-how-work .content .des {
  font-size: 14px;
  font-weight: 400;
}

.swiper-landing {
  height: calc(100vh - 45px - 87.42px);
}
.swiper-landing .swiper-wrapper .swiper-slide {
  position: relative;
}
.swiper-landing .swiper-wrapper .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(3, 33, 53, 0.22);
}
.swiper-landing .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-landing .swiper-wrapper .swiper-slide .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.swiper-landing .swiper-wrapper .swiper-slide .intro-text .title {
  margin-bottom: 13px;
  font-size: 40px;
  font-weight: 500;
}
@media (max-width: 575.98px) {
  .swiper-landing .swiper-wrapper .swiper-slide .intro-text .title {
    font-size: 25px;
  }
}
.swiper-landing .swiper-wrapper .swiper-slide .intro-text .des {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
}
@media (max-width: 575.98px) {
  .swiper-landing .swiper-wrapper .swiper-slide .intro-text .des {
    font-size: 18px;
  }
}
.swiper-landing .btn-directions {
  width: 40px;
  height: 35px;
}
.swiper-landing .btn-directions::after {
  font-size: 30px;
  color: #fff;
}
.swiper-landing .btn-directions.right {
  right: 20px !important;
}
.swiper-landing .btn-directions.left {
  left: 20px !important;
}
@media (max-width: 767.98px) {
  .swiper-landing .btn-directions.right {
    right: 5px !important;
  }
  .swiper-landing .btn-directions.left {
    left: 5px !important;
  }
}
@media (max-width: 575.98px) {
  .swiper-landing .btn-directions {
    display: none;
  }
}
.swiper-landing .swiper-pagination {
  bottom: 5%;
}
.swiper-landing .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 1;
  transition: 0.3s;
}
.swiper-landing .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 9px;
  height: 9px;
  background-color: #12486b;
}

.partners-swiper {
  height: -moz-fit-content;
  height: fit-content;
}

.country-swiper {
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}
@media (max-width: 767.98px) {
  .country-swiper {
    padding: 10px;
  }
}
.country-swiper .swiper-wrapper .swiper-slide.swiper-slide-active .country-box {
  box-shadow: 0 0 10px 0 rgba(17, 71, 107, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: #202124;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #202124;
}
a:hover {
  color: #202124;
}

button {
  border: none;
  outline: none;
}

input:focus,
select,
textarea:focus {
  outline: none;
}

input,
textarea {
  direction: rtl !important;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 0.9647058824);
  box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #12486b;
  border-radius: 50px;
}

/* end scrollbar */
.up-btn {
  position: fixed;
  bottom: 16px;
  right: -50px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #12486b;
  z-index: 999;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
}
.up-btn.show {
  right: 16px;
}
.up-btn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #0d344f;
  transition: 0.4s;
}
.up-btn:hover::before {
  width: 100%;
}
.up-btn i,
.up-btn svg {
  font-size: 17px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}
.social a {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  background-color: #fff;
  color: #12486b;
  transition: transform ease-out 0.3s;
}
.social a:hover {
  transform: scale(0.9);
}

.about .about-img {
  width: 100%;
  height: 100%;
}
.about .about-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.more-about {
  background-color: #f1f6fa;
}

.main-content {
  margin: 50px 0;
}

.landing-page {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page.coast {
  background-image: url(https://almethaleh.sa/word/wp-content/uploads/2023/10/Labor-cost.png);
}
.landing-page.join {
  background-image: url(https://almethaleh.sa/word/wp-content/uploads/2023/10/jobs.png);
}
.landing-page .title {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.text-info {
  background: linear-gradient(212deg, #0c8dd3, #191d88);
  padding: 22px 0;
  text-align: center;
  margin: 12px 0;
}
.text-info h3 {
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  line-height: 35px;
}

.contact {
  padding: 70px 0px;
  position: relative;
  z-index: 1;
}
.contact::after, .contact::before {
  filter: brightness(0) saturate(100%) invert(14%) sepia(40%) saturate(5137%) hue-rotate(188deg) brightness(93%) contrast(87%);
}
.contact::after {
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  z-index: -1;
  top: 35px;
  content: url("../images/layer-1.png");
}
.contact::before {
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  z-index: -1;
  bottom: 0;
  content: url("../images/layer-2.png");
}
.contact .form {
  max-width: 950px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
  background-color: #fff;
}
.contact .form .shape-title {
  margin-bottom: 30px;
}
.contact .form .boxes {
  display: flex;
  gap: 50px;
}
.contact .form .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  gap: 15px;
}
.contact .form .boxes .box .inp-holder {
  width: 100%;
}
.contact .form .boxes .box .inp-holder label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  color: #0f001a;
}
.contact .form .boxes .box .inp-holder label .sm {
  font-size: 12px;
  font-weight: 300;
  line-height: 13px;
  color: rgba(15, 0, 26, 0.7);
}
.contact .form .boxes .box .inp-holder .inp {
  width: 100%;
  display: block;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #b4bec8;
  font-size: 14px;
  font-weight: 400;
}
.contact .form .boxes .box .inp-holder .inp::-moz-placeholder, .contact .form .boxes .box .inp-holder textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.contact .form .boxes .box .inp-holder .inp::placeholder,
.contact .form .boxes .box .inp-holder textarea::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: rgba(135, 135, 135, 0.5);
}
.contact .form .boxes .box .inp-holder textarea {
  height: 135px;
}
.contact .form .boxes .box .btn-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #12486b;
}
.contact .form .boxes .box.two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.contact .form .boxes .box.two .item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.contact .form .boxes .box.two .item .icon {
  width: 20px;
  font-size: 23px;
  text-align: center;
  color: #12486b;
}
.contact .form .boxes .box.two .item .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #202124;
}
.contact .form .boxes .box.two .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.contact .form .boxes .box.two .social a .icon {
  font-size: 21px;
  color: #12486b;
}
.contact .form .boxes .box.two .map {
  width: 100%;
}
.contact .form .boxes .box.two .map iframe {
  border-radius: 4px;
  width: 100%;
  height: 185px;
}
@media (max-width: 991.98px) {
  .contact .form {
    padding-right: 20px;
  }
  .contact .form .boxes {
    flex-direction: column;
    gap: 1rem;
  }
  .contact .form .boxes .box.two .item {
    gap: 16px;
  }
}

.site-header .top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 45px;
  background-image: linear-gradient(141deg, #191d88 0%, #337ccf 100%);
}
@media (max-width: 767.98px) {
  .site-header .top-nav {
    padding: 7px 0px;
  }
}
.site-header .top-nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 415px) {
  .site-header .top-nav .nav-content {
    justify-content: center;
  }
}
.site-header .top-nav .nav-content .holder-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
@media (max-width: 767.98px) {
  .site-header .top-nav .nav-content .holder-nav-list ul:first-of-type {
    display: none;
  }
}
.site-header .top-nav .nav-content .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.site-header .top-nav .nav-content .nav-list .item .link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  transition: transform ease-out 0.3s;
  background-color: transparent;
}
.site-header .top-nav .nav-content .nav-list .item .link .icon {
  color: #fff;
  font-size: 14px;
}
.site-header .top-nav .nav-content .nav-list .item .link:hover {
  transform: scale(1.04);
}
.site-header .bottom-nav {
  position: relative;
  z-index: 111;
  background-color: #fff;
  filter: drop-shadow(0px 1px 4.5px rgba(18, 72, 107, 0.13));
}
.site-header .bottom-nav h1 .navbar-brand {
  margin-left: 0%;
}
.site-header .bottom-nav h1 .navbar-brand img {
  width: 150px;
  max-width: 100%;
  height: auto;
  transition: transform ease-out 0.3s;
}
.site-header .bottom-nav h1 .navbar-brand img:hover {
  transform: scale(0.9);
}
.site-header .bottom-nav .navbar-toggler {
  padding: 0;
  border: 0px;
}
.site-header .bottom-nav .navbar-toggler:focus {
  box-shadow: none;
}
.site-header .bottom-nav .navbar-toggler i,
.site-header .bottom-nav .navbar-toggler svg {
  font-size: 31px;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav {
  flex: 1;
  justify-content: center;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px 12px;
  font-size: 16px;
  font-weight: 500;
  color: #777;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link .arrow {
  transform: translateY(3px);
  font-size: 13px;
  transition: 0.3s;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #12486b;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scale(0.8);
  background-color: #12486b;
}
@media (max-width: 767.98px) {
  .site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::after {
    transform: scale(1);
  }
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link.active::before {
  content: none;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transition: 0.3s;
  transform: scale(0);
  background-color: #777;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #12486b;
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
  background-color: #12486b;
  transform: scale(0.8);
}
@media (max-width: 767.98px) {
  .site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover::before {
    transform: scale(1);
  }
}
.site-header .bottom-nav .navbar-collapse .navbar-nav .nav-item.dropdown .nav-link[aria-expanded=true] .arrow {
  transform: rotate(180deg);
}

.site-footer {
  background-image: linear-gradient(154deg, #337ccf 0%, #191d88 100%);
}
.site-footer .top-footer {
  color: #fff;
}
.site-footer .top-footer .site-info {
  width: 100%;
}
.site-footer .top-footer .site-info .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.site-footer .top-footer .site-info .info {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  transition: transform ease-out 0.3s;
}
.site-footer .top-footer .site-info .info:not(:last-child) {
  margin-bottom: 10px;
}
.site-footer .top-footer .site-info .info i,
.site-footer .top-footer .site-info .info svg {
  font-size: 14px;
  margin-right: 5px;
  color: #fff;
}
.site-footer .top-footer .site-info .info:hover {
  transform: scale(1.06);
}
.site-footer .top-footer .site-info .lists-hold {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.site-footer .top-footer .site-info .lists-hold .list-links .item .link {
  padding: 8px 16px;
  transition: 0.4s;
  color: #fff;
  display: block;
  font-size: 16px;
  transition: transform ease-out 0.3s;
}
.site-footer .top-footer .site-info .lists-hold .list-links .item .link:hover {
  transform: scale(1.06);
}
.site-footer .bottom-footer {
  background-color: #234697;
  padding: 15px 0px;
}
.site-footer .bottom-footer .logo-holder {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 7px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-bottom: 0.6rem;
}
.site-footer .bottom-footer .logo-holder .logo {
  width: 35px;
  height: auto;
}/*# sourceMappingURL=main.css.map */