.service-box {
  @include flex-column-center;
  min-height: 260px;
  padding: 10px;
  border-radius: 23px;
  text-align: center;
  transition: $sm-transition;
  background-color: $white-color;
  .img-holder {
    @include flex-center;
    height: 100px;
    margin-bottom: 10px;
    img {
      width: 92px;
      height: 95px;
    }
  }
  .title {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 22px;
    text-align: center;
    color: $main-text-color;
  }
  .des {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: $main-color-light;
  }
  &.active,
  &:hover {
    box-shadow: 0 0 10px 0 rgb(17 71 107 / 20%);
    .title {
      color: $main-color;
    }
  }
}

.job-box {
  position: relative;
  width: 100%;
  height: 357px;
  border-radius: 10px;
  overflow: hidden;
  transition: $sm-transition;
  img {
    @include set-cover-img;
    transition: $sm-transition;
  }
  .title {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    color: $white-color;
    font-size: 20px;
    font-weight: 700;
    z-index: 12;
  }
  &::before {
    content: "";
    @include reset-position;
    @include full-w-h;
    background: linear-gradient(0deg, rgb(0 0 0 / 72%), transparent);
    z-index: 11;
  }
  &:hover {
    img {
      transform: scale(1.02);
    }
  }
}

.box-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  .content-text {
    .title {
      color: $main-color;
      font-weight: 600;
      font-size: 23px;
      font-weight: 400;
    }
    .des {
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 10px;
      color: $main-color-light;
    }
    @include maxWidth(sm) {
      font-size: 15px;
    }
  }
}

.country-box {
  @include flex-justify(flex-start);
  gap: 10px;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  transition: $sm-transition;
  background-color: $white-color;
  .img-holder {
    img {
      width: 45px;
      height: auto;
      object-fit: contain;
    }
  }
  .content {
    .title {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 3px;
      text-align: start;
      color: $main-color;
    }
    .order-now {
      display: block;
      font-size: 13px;
      font-weight: 400;
      color: #888;
      transition: transform ease-out 0.3s;
      &:hover {
        transform: scale(1.04);
      }
    }
  }
  &:hover {
    box-shadow: 0 0 10px 0 rgb(17 71 107 / 10%);
  }
}

.partner-box {
  @include flex-column-center;
  min-height: 200px;
  padding: 5px;
  text-align: center;
  background-color: $white-color;
  img {
    width: 100px;
    height: auto;
    object-fit: contain;
    &.won-custom {
      width: 200px;
    }
  }
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  width: 300px;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
  &:hover .card-front {
    transform: rotateX(-180deg);
  }
  &:hover .card-back {
    transform: rotateX(0deg);
  }
}

.card-front {
  height: 100%;
  width: 100%;
  background-image: url(https://99px.ru/sstorage/56/2013/12/image_563012130153328414049.jpg);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  color: #ffffff;
  text-align: center;
  h2 {
    margin: 60% auto 35% auto;
    font-size: 26px;
    span {
      font-size: 20px;
    }
  }
  a {
    height: 20px;
    width: 20px;
    padding: 5px 5px;
    border-radius: 4px;
    line-height: 20px;
    &:hover {
      color: #000000;
      background-color: #fff;
    }
  }
}


.box-more-about {
  @include flex-column-center;
  min-height: 280px;
  padding: 15px;
  background-image: linear-gradient(104deg, #337ccf 0%, #191d88 100%);
  text-align: center;
  color: $white-color;
  .icon-holder {
    margin-bottom: 10px;
    i,svg {
      font-size: 60px;
    }
  }
  .title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .des {
    margin-bottom: 0px;
  }
}
.card-coast {
  border-radius: 22px;
  border: 1px solid #419197;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: center;
  transition: 0.3s;
  .img-card {
    img {
      height: auto;
      max-width: 100%;
    }
  }
  .card-title {
    font-family: "Tajawal", Sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  .card-sub {
    color: #86909c;
    font-family: "Tajawal", Sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  .amount {
    color: #06967d;
    font-family: "Lato", Sans-serif;
    font-size: 58px;
    font-weight: 600;
  }
  .amount-info {
    color: #59697e;
    font-family: "Tajawal", Sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
  &:hover {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    scale: 0.98;
  }
}
.card-join {
  // border-radius: 10px;
  border: 1px solid #419197;

  padding: 10px 20px;
  transition: 0.3s;
  .header-card{
    display: flex;
    flex-direction: column;
  align-items: center;

  }
  .title{
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    color: $main-color;
  }
  .info-holder{
    .title-info{
      font-size: 24px;
      font-weight: 700;
      color: $main-color;
    }
  }
  ol{
    margin: 20px 0;
    li{
      font-size: 16px;
      font-weight: 600;
      color: $main-color;
    }
  }
  &:hover {
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.3);
    scale: 0.98;
  }
  .form {
    padding: 20px;
    margin: 0 auto;
    .boxes {
      .box {
        @include flex-column;
        flex: 1;
        gap: 15px;
        .inp-holder {
          width: 100%;
          label {
            display: block;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.8;
            color: #0f001a;
            .sm {
              font-size: 12px;
              font-weight: 300;
              line-height: 13px;
              color: rgba(15, 0, 26, 0.7);
            }
          }
          .inp {
            width: 100%;
            display: block;
            padding: 12px;
            border-radius: 4px;
            border: 1px solid #b4bec8;
            font-size: 14px;
            font-weight: 400;
            &::placeholder {
              font-size: 14px;
              font-weight: 400;
              color: rgba(135, 135, 135, 0.5);
            }
          }
        }
        .btn-sub {
          width: 100%;
          @include flex-center;
          padding: 15px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: $white-color;
          background-color: $main-color;
          &:hover{
            background-color: #06967d;
            scale: 1 !important;
          }
        }
      }
    }
  }
}

.box-how-work {
  @include flex-center;
  gap: 10px;
  min-height: 225px;
  padding: 15px;
  border: 1px dotted #419197AD;
  box-shadow: 0px 0px 4px 0px rgba(17.162608695652168, 19.26874480151228, 61.199999999999996, 0.12);
  .icon-holder {
    transform: translateY(-30px);
    i,svg {
      font-size: 36px;
      color: #0c8dd3;
    }
  }
  .content {
    .name {
      color: #0c8dd3;
      font-size: 20px;
      font-weight: 700;
    }
    .des {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
