$main-color: #12486b;
$main-color-dark: #0d344f;
$main-color-light: #74818a;
$alt-color: #edd04a;

$topHeader-color: linear-gradient(141deg, #191d88 0%, #337ccf 100%);

$nav-link:#777;
$active-nav-link:#12486b;

$main-text-color:#202124;

$white-color: #fff;
$black-color: #000;
$gray-color: #808080;

$bg-section-main: #fbfcfd;
$bg-section-sec: #f1f5f6;
$footer-bg: linear-gradient(154deg, #337ccf 0%, #191d88 100%);